@import "./measures.scss";

a {
  text-decoration: none;
}
.aside {
  background-color: rebeccapurple;
}

.navbar--height {
  height: $navbar--height;
}

.main--height {
  height: calc(100vh - $navbar--height);
}
